<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ocdev.com.br.bakery">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityReceitas"
            android:label="@string/title_activity_receitas"
            android:parentActivityName="ocdev.com.br.bakery.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ocdev.com.br.bakery.MainActivity" />
        </activity>
        <provider
            android:name=".data.WidgetContentProvider"
            android:authorities="ocdev.com.br.bakery"
            android:exported="true" />

        <receiver android:name=".Widget.IngredientesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredientes_widget_info" />
        </receiver>

        <service android:name=".Widget.IngredientesWidgetService" />
        <service
            android:name=".Widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


    </application>

</manifest>